<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChemInput</title>
    <link rel="stylesheet" href="/static/MathQuill/mathquill.css"/>
    <link rel="stylesheet" href="/static/ChemInput.css"/>
    <link rel="shortcut icon" type="image/png" href="/static/icon.png"/>
    <script src="/static/jQuery/jquery-3.2.0.js"></script>
    <script src="/static/MathQuill/mathquill.js"></script>
    <script src="/static/ChemInput.js"></script>
    </head>
<body>
    <form action="." method="POST" id="confirm">
        <center>
            <p type="text" name="text" id='input'></p>
            <input type="button" value="enter" id='enter'/>
        </center>
    </form>
    
    <center>
        <div class='buttons'>
        <button id='rightarrow'>-></button>
        <button id='sup'>^</button>
        <button id='sub'>_</button>
        <button id='left-parenthesis'>(</button>
        <button id='right-parenthesis'>)</button>
        <button id='plus'>+</button>
        <button id='colon'>:</button>
        <button id='semi-colon'>;</button>
        </div>
    </center>
    
    <div id="molecule">
        <div class="status">
            ?
        </div>
    </div>
    
    <div id="equation">
        <div class="status">
            ->
        </div>
    </div>
    
    <div id="empirical">
        <div class="status">
            g
        </div>
    </div>
    
    <div id="alkane">
        <div class="status">
            CH
        </div>
    </div>
</body>
</html>