<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Doing Chemistry with Maths"/>
    <meta name="keywords" content="Chemistry,Maths,Calculator"/>
    <meta name="author" content="Jingjie YANG (j.yang19@ejm.org), Théo Takla (t.takla19@ejm.org)"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHEMaths</title>
    <link rel="stylesheet" href="/static/MathQuill/mathquill.css"/>
    <link rel="stylesheet" href="/static/ChemInput.css"/>
    <link rel="shortcut icon" type="image/png" href="/static/icon.png"/>
    <script src="/static/jQuery/jquery-3.2.0.js"></script>
    <script src="/static/MathQuill/mathquill.js"></script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <script src="/static/ChemInput.js"></script>
</head>

<body>
    <form action="/results" method="POST" id="mainField">
        <div class="row">
            <div class="col-1_24">
                <div id="syntax_check_status"></div>
            </div>
            <div class="col-9">
                <span id='input'></span>
            </div>
            <div class="col-2">
                <input type="submit" value="Maths!" id="enter"/>
            </div>
            <div class="col-1_24"></div>
        </div>
    </form>

    <!--Buttons for input field-->
    <div id="buttons" class="row">
        <div class="col-1_24">
            <div id="syntax_check_text">
                ?
                <div id="syntax_check_error_text"></div>
            </div>
        </div>
        <button id='rightarrow' class="col-11_96">&rarr;</button>
        <button id='sup' class="col-11_96">^</button>
        <button id='sub' class="col-11_96">_</button>
        <button id='left-parenthesis' class="col-11_96">(</button>
        <button id='right-parenthesis' class="col-11_96">)</button>
        <button id='plus' class="col-11_96">+</button>
        <button id='colon' class="col-11_96">:</button>
        <button id='semi-colon' class="col-11_96">;</button>
        <div class="col-1_24"></div>
    </div>

    <!--Additional information and results-->
    <div class="row">

        <!--Status labels-->
        <div id="mode" class="col-1_8">
            <!--Molecule-->
            <div class="status" id="molecule">
                ?
                <p class="tooltip">
                    Information on Molecule
                </p>
            </div>
            
            <!--Equation-->
            <div class="status" id="equation">
                &rarr;
                <p class="tooltip">
                    Balance Equation
                </p>
            </div>
            
            <!--Empirical-->
            <div class="status" id="empirical">
                g
                <p class="tooltip">
                    Determine Empirical Formula
                </p>
            </div>
       
            <!--Alkane-->
            <div class="status" id="alkane">
                CH
                <p class="tooltip">
                    Alkane
                </p>
            </div>
        </div>
        
        <!--Details-->
        <div class="col-10" id="infos">
            <div class="panel" id="info-this">
                <h1>
                    <span id="yellow">CHE</span><span id="green">M</span><span id="blue">aths</span>
                </h1>
                <p id="authors">By <a href="https://github.com/JingjieYang">Jingjie</a> and <a href="https://github.com/TrakJohnson">Théo</a>.</p>
                <h3>
                    Chemistry with Mathematics<br/>
                    High-School-Level Chemistry Calculator
                </h3>
                <a href="https://github.com/JingjieYang/CHEMaths">
                    <img id="icon" src="/static/icon.png"/>
                </a>
            </div>

            <div class="panel" id="info-molecule">
                <table>
                    <tbody>
                        <tr>
                            <th>Molecular formula</th>
                            <td id="molecular_formula"></td>
                            <td></td>  <!--Last element is necessary for using :last-child-->
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td id="name"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Molar mass</th>
                            <td id="molar_mass"></td>
                            <td>
                                <input type="range"
                                       name="molar_mass_precision"
                                       id="molar_mass_precision"
                                       class="precision"
                                       min="0" max="5">
                            </td>
                        </tr>
                        <tr>
                            <th>Components</th>
                            <td id="components"></td>
                            <td>
                                <input type="range"
                                       name="components_precision"
                                       id="components_precision"
                                       class="precision"
                                       min="0" max="5">
                            </td>
                        </tr>
                        <tr>
                            <th>Oxidation</th>
                            <td id="oxidation"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel" id="info-equation">
                <!--The content of the table will be updated live-->
                <table>
                    <tr id="reaction_type">
                        <th>Type</th>
                    </tr>
                    <tr id="formula">
                        <th>Equation</th>
                    </tr>
                    <tr id="coefficient">
                        <th>Mole Ratio</th>
                    </tr>
                    <tr id="mole">
                        <th>Mole</th>
                    </tr>
                    <tr id="mass">
                        <th>Mass</th>
                    </tr>
                </table>
            </div>

            <div class="panel" id="info-empirical">
                3
            </div>

            <div class="panel" id="info-alkane">
                4
            </div>

        </div>
    </div>
</body>
</html>