<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Doing Chemistry with Maths"/>
    <meta name="keywords" content="Chemistry,Maths,Calculator"/>
    <meta name="author" content="Jingjie YANG (j.yang19@ejm.org), Théo Takla (t.takla19@ejm.org)"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHEMaths</title>
    <!--  Styles & images -->
    <link rel="stylesheet" href="/static/MathQuill/mathquill.css"/>
    <link rel="stylesheet" href="/static/ChemInput.css"/>
    <link rel="shortcut icon" type="image/png" href="/static/icon.png"/>
    <!--  Scripts  -->
    <script src="/static/jQuery/jquery-3.2.0.js"></script>
    <script src="/static/MathQuill/mathquill.js"></script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    <script src="/static/ChemInput.js"></script>
</head>

<body>
<div id="top-bar">
    <div id="input-wrapper">
        <form action="/results" method="POST" id="mainField">
            <div id="syntax_check_status"></div>
            <span id='input'></span>
            <input type="submit" value="Maths!" id="enter"/>
        </form>
    </div>

    <!--Buttons for input field-->
    <div id="buttons" class="row">
        <button id='rightarrow'>&rarr;</button>
        <button id='sup'>^</button>
        <button id='sub'>_</button>
        <button id='left-parenthesis'>(</button>
        <button id='right-parenthesis'>)</button>
        <button id='plus'>+</button>
        <button id='colon'>:</button>
        <button id='semi-colon'>;</button>
    </div>


    <!--Additional information and results-->
    <div id="content" class="row">

        <!--Status labels-->
        <div id="mode" class="col-1_8">
            <!--Molecule-->
            <div class="status" id="molecule">
                ?
                <p class="tooltip">
                    Information on Molecule
                </p>
            </div>

            <!--Equation-->
            <div class="status" id="equation">
                &rarr;
                <p class="tooltip">
                    Balance Equation
                </p>
            </div>

            <!--Empirical-->
            <div class="status" id="empirical">
                g
                <p class="tooltip">
                    Determine Empirical Formula
                </p>
            </div>

            <!--Organic-->
            <div class="status" id="organic">
                CH
                <p class="tooltip">
                    Organic Compound
                </p>
            </div>
        </div>

        <!--Details-->
        <div class="col-10" id="infos">
            <div class="panel" id="info-this">
                <h1>
                    <span id="yellow">CHE</span><span id="green">M</span><span id="blue">aths</span>
                </h1>
                <p id="authors">By <a href="https://github.com/JingjieYang">Jingjie</a> and <a
                        href="https://github.com/TrakJohnson">Théo</a>.</p>
                <h3>
                    Chemistry with Mathematics<br/>
                    High-School-Level Chemistry Calculator
                </h3>
                <a href="https://github.com/JingjieYang/CHEMaths">
                    <img id="icon" src="/static/icon.png"/>
                </a>
            </div>

            <div class="panel" id="info-molecule">
                <table>
                    <tbody>
                    <tr>
                        <th>Molecular formula</th>
                        <td id="molecular_formula"></td>
                        <td></td>  <!--Last element is necessary for using :last-child-->
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td id="name"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Molar mass</th>
                        <td id="molar_mass"></td>
                        <td>
                            <input type="range"
                                   name="molar_mass_precision"
                                   id="molar_mass_precision"
                                   class="precision"
                                   min="0" max="5">
                        </td>
                    </tr>
                    <tr>
                        <th>Components</th>
                        <td id="components"></td>
                        <td>
                            <input type="range"
                                   name="components_precision"
                                   id="components_precision"
                                   class="precision"
                                   min="0" max="5">
                        </td>
                    </tr>
                    <tr>
                        <th>Oxidation</th>
                        <td id="oxidation"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Moles & Mass</th>
                        <td>
                            <div id="mole_mass_wrapper">
                                <div id="molecule_mole_wrapper">
                                    <span id="molecule_mole_entry"></span> mol
                                </div>
                                <div><=></div>
                                <div id="molecule_mass_wrapper">
                                    <span id="molecule_mass_entry"></span> g
                                </div>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel" id="info-equation">
                <!--The content of the table will be updated live-->
                <table>
                    <tr id="reaction_type">
                        <th>Type</th>
                    </tr>
                    <tr id="formula">
                        <th>Equation</th>
                    </tr>
                    <tr id="coefficient">
                        <th>Mole Ratio</th>
                    </tr>
                    <tr id="mr">
                        <th>Relative Formula Mass (M<sub>r</sub>)</th>
                    </tr>
                    <tr id="mass">
                        <th>Mass</th>
                    </tr>
                    <tr id="reaction-mass">
                        <th>Reaction Mass</th>
                    </tr>
                    <tr id="reaction-mole">
                        <th>Reaction Mole</th>
                    </tr>
                    <tr id="mole">
                        <th>Mole</th>
                    </tr>
                </table>
            </div>

            <div class="panel" id="info-empirical">
                3
            </div>

            <div class="panel" id="info-organic">
                <table>
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td id="organic-name"></td>
                    </tr>
                    <tr>
                        <th>Molecular Formula</th>
                        <td id="molecular-formula"><span></span></td>
                    </tr>
                    <tr>
                        <th>Number of structural isomers</th>
                        <td id="isomers-number"></td>
                    </tr>
                    <tr>
                        <th>Combustion Enthalpy</th>
                        <td id="combustion-enthalpy"></td>
                    </tr>
                    <tr>
                        <th>Primary Lewis structure</th>
                        <td id="lewis-structure"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>