#input {
    
}

.buttons {
    padding-bottom: 1em
}

.buttons button {
    border-radius: 5px;
    background-color: burlywood;
    width: 7.5em;
}


.buttons #confirm {
    border-radius: 10px;
    background-color: aquamarine
}

.label {
    background-color: #B43;
    text-align: center;
    color: #ffffff;
    width: 5em;
    margin-left: 0.5em;
    height: 3em;
    
    padding-top: 0.75em;
    padding-bottom: 0.75em;

    margin-bottom: 2em
}